@model IEnumerable<AdminCore.Models.Proveedor>

<h1>Proveedores</h1>

<a asp-action="Create">Crear proveedor</a>
<br />
<a href="/Dashboard">Volver al Dashboard</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>RUC</th>
            <th>Empresa</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Activo</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Ruc</td>
                <td>@item.Empresa?.Nombre</td>
                <td>@item.Correo</td>
                <td>@item.TipoProveedor</td>
                <td>@item.Activo</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>